body{
  font-family: serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  background-color: #343330;
  text-align: center;
}

.sidebar {
  background-color: gray;
  color: white;
  border: 2px solid black;
  width: 150px;
  padding: 20px;
}

footer {
  background-color: #343330;
  text-align: center;
}
