body{
  font-family: serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  background-color: #343330;
  text-align: center;
}

.sidebar {
  display: block;
  background-color: gray;
  color: white;
  height: 117.2%;
  margin-top: -1em;
  position: absolute;
}

.circular { display: inline-flex; border:2px solid rgb(255, 89, 0); position: relative; width: 15%; height: 150px; margin-top: 1em; overflow: hidden; border-radius: 50%; } 

.icons {display: inline-block; position: relative; width: 50px; overflow: hidden; border-radius: 50%; }

.icon {display: inline-block; position: relative; width: 60px; overflow: hidden; border-radius: 15%; }

footer {
  background-color: #343330;
  text-align: center;
}
